.itemCard{
  margin: 40px;
  padding: 10px;
  display: flex;
  border: 1px solid #ccc;
}

.itemDetails{
  display: flex;
  flex-direction: column; 
}

.itemDetails h3{
  font-size: 1.6em;
  margin: 20px 0;
}

.itemDetails p{
  font-size: 1em;
  margin: 5px 0;
}

.itemImg {
  object-fit: contain;   
  width: 100%;
  max-height: 250px;
}

.button-details {
  background-color: #ff6b00;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-details:not(:disabled):hover,
.button-details:not(:disabled):focus {
  outline: 0;
  background: #ff7113;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-details:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}