.itemCard{
    margin: 40px;
    padding: 10px;
    display: flex;
    border: 1px solid #ccc;
}

.itemDetails{
    display: flex;
    flex-direction: column; 
}

.itemDetails h3{
    font-size: 1.6em;
    margin: 20px 0;
}

.itemDetails p{
    font-size: 1em;
    margin: 5px 0;
}

.itemDetails button{
    font-size: 1em;
    margin: 25px 0;
    padding: 8px;
    cursor: pointer;
}


.itemImg{
    object-fit: cover;
    height: 400px;
}