.checkoutContainer {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border: 1px solid #fff;
}

.checkoutContainer h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #ff6b00;
    background-color: transparent;
}

.checkoutContainer form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: transparent;

}

.checkoutContainer form div {
    display: flex;
    flex-direction: column;
    background-color: transparent;

}

.checkoutContainer label {
    margin-bottom: 6px;
    font-weight: 500;
    color: #fff;
    background-color: transparent;

}

.checkoutContainer input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    transition: border 0.3s ease;
}

.checkoutContainer input:focus {
    border: 1px solid #ff6b00;
    outline: none;
}

.checkoutContainer button {
    margin-top: 10px;
    background: #ff6b00;
    color: #fff;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
}

.checkoutContainer button:hover {
    background: #e65c00;
}

.checkoutContainer strong {
    display: block;
    margin-top: 20px;
    font-size: 1.1em;
    color: #ff6b00;
    text-align: center;
}

.checkoutContainer hr {
    border: none;
    border-bottom: 1px solid #eee;
    margin: 10px 0;
}
